<a href="https://colab.research.google.com/github/sakamrani2020/Machine-Learning/blob/main/MIT_with_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing necessary libraries
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv("Advertising.csv")
data

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [ ]:
data.drop(columns=['Unnamed: 0'],inplace=True)
data

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [ ]:
X=data.iloc[:,:-1]
Y=data.iloc[:,-1]

In [ ]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=1)
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report,accuracy_score
lg=LinearRegression()
lg.fit(xtrain,ytrain)
y_pred=lg.predict(xtest)

In [ ]:
from flask import Flask,request,jsonify
app=Flask('Advertising Prediction')
@app.route('/<int:TV>/<int:radio>/<int:newspaper>')
def test(TV,radio,newspaper):
    p=[]
    p+=[TV,radio,newspaper]
    
    arr=np.array([p])
    predict=lg.predict(arr)
    if predict==[1]:
        result={'result':'High sales'}
    else:
        result={'result':'Not High'}
    return jsonify(result)
app.run()

 * Serving Flask app 'Advertising Prediction'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [06/Feb/2023 12:06:01] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [06/Feb/2023 12:06:01] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [06/Feb/2023 12:06:06] "GET /hello HTTP/1.1" 404 -
127.0.0.1 - - [06/Feb/2023 12:06:53] "GET /today HTTP/1.1" 404 -
127.0.0.1 - - [06/Feb/2023 12:07:01] "GET /1/3/5 HTTP/1.1" 200 -